
.device{
    display: none;
    background: $top;
    &.active{
        display: block;
    }
    &:not(#large-device){
        margin: 0.5rem;
        border: 0.0625rem solid grey;
        border-radius: 0.125rem;
        .top-bar{
            background: $top;
            font-size: 1.1vw;
            text-align: center;
            padding: 0.2rem;
            display: inline-block;
            width: 90%;
        }
        .captureview{
            cursor: pointer;
            &:hover{
                color: $purple;
            }
        }
    }
}
.device-bar-wrapper{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    font-size: 0.75rem;
    background: $second;
    .view-device{
        margin: 0.25rem;
        padding: 0.3rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        background: $elevated;
        width: 6rem;
        cursor: pointer;
        box-shadow: 0.0625rem -0.0625rem 0.625rem 0rem $first;
        height: 1.5rem;
        justify-content: center;
        border-radius: 0.375rem;
        &.active{
            background: $green;
            color: $deep;
        }
        &.add-device{
            font-size: 1.5rem;
            i{
                vertical-align: text-bottom;
            }
        }
        .button{
            background: $top;
            color: $text;
            border-radius: 0.9375rem;
            pointer-events: none;
        }
    }
}
#large-device{
    width: 100%;
    height: 100%;
}
