$white: #EEEEEE;
$blue:  #070F4E;
$black: #232323;
$grey: #404242;
$text: #fff;
$depth: #111;
$purple: #bb86fc;
$green: #03dac5;

$deep: #000;
$first: #212121;
$second: #303030;
$top: #424242;
$elevated: #626262;
